In [6]:
import pandas as pd

In [8]:
info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 23]
}
df = pd.DataFrame(info)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   23

In [11]:
#Index-Based access
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))
print(s[0])
print(s[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4

In [15]:
#Label-Based access
s = pd.Series([20, 22, 23, 24], index = ["Syed", "Maaz", "Khan", "Mohd"])
print(s)
print(s["Maaz"])
print(s["Mohd"])
print(s.index)

Syed    20
Maaz    22
Khan    23
Mohd    24
dtype: int64
22
24
Index(['Syed', 'Maaz', 'Khan', 'Mohd'], dtype='object')

In [16]:
#vectorization
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
print(s1 + s2)

# Also remember series are mutable but the size of the series is immutable.

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [33]:
#Dataframe

info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 24],
    "CGPA": [7.5, 8.5, 9.5]
}
df = pd.DataFrame(info)
print(df, type(df))
df
print(df.index)
print(df.columns)

   Name  Age  CGPA
0  Syed   20   7.5
1  Maaz   22   8.5
2  Khan   24   9.5 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'CGPA'], dtype='object')

In [36]:
#Dataframe
df = pd.DataFrame(
    [
        ["Syed", 20],
        ["Maaz", 22],
        ["Khan", 24]
    ], columns = ["Name", "Age"] #Here we are explicitly naming the columns
)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   24

In [41]:
#Dataframe in numpy
import numpy as np

np_arr = np.array(
    [
        [1,2,3,4],
        [5,6,7,8]
    ]
)
df = pd.DataFrame(np_arr, columns = ["A", "B", "C", "D"])
print(df)

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

In [47]:
#Reading data from csv file
df = pd.read_csv("pandas_data.csv")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [48]:
#Reading data form json file
df = pd.read_json("pandas_data.json")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [61]:
#Methods in printing the file data
df.head() #prints starting 5 rows
df.head(4) #prints as customised
df.tail() #prints ending 5 rows
df.tail(3) #prints as customised
df.sample() #prints random row
df.sample(5) #prints as customised
df.info() #prints the info of file
df.shape  #prints the shape(rows and colums)
df.describe #gives the value of numerical data from the file
df.columns
df.nunique()

In [66]:
#assignment on pandas
df = pd.read_csv("pandas_assignment_data.csv")
df

                        timestamp country      city  latitude  longitude  \
0      2025-11-04 18:25:17.554219      US  New York    40.713    -74.006
1      2025-11-04 19:25:17.554219      US  New York    40.713    -74.006
2      2025-11-04 20:25:17.554219      US  New York    40.713    -74.006
3      2025-11-04 21:25:17.554219      US  New York    40.713    -74.006
4      2025-11-04 22:25:17.554219      US  New York    40.713    -74.006
...                           ...     ...       ...       ...        ...
17995  2025-11-19 13:25:17.554219      CH    Zurich    47.377      8.542
17996  2025-11-19 14:25:17.554219      CH    Zurich    47.377      8.542
17997  2025-11-19 15:25:17.554219      CH    Zurich    47.377      8.542
17998  2025-11-19 16:25:17.554219      CH    Zurich    47.377      8.542
17999  2025-11-19 17:25:17.554219      CH    Zurich    47.377      8.542

         pm25     pm10     no2    so2      o3     co  aqi  temperature  \
0      50.295  108.938  27.998  6.539  52.568  1.096  108       18.504
1      32.083   63.043  36.120  4.021  43.536  1.075   90        5.838
2      42.250   82.553  26.935  9.538  23.320  0.977   84       31.833
3      30.403   79.951  63.536  7.609  31.369  0.230  158       23.140
4      21.083   66.423  38.997  6.919  45.615  1.085   97       13.632
...       ...      ...     ...    ...     ...    ...  ...          ...
17995  27.899   74.179  41.474  6.677  50.869  1.028  103        7.079
17996   2.950   47.988  42.235  2.821  35.551  0.644  105       28.734
17997  61.347   72.908  46.976  5.763  66.492  0.947  122       21.951
17998  40.722   95.152  32.957  5.524  53.193  0.868   95       24.042
17999  25.830   30.411  35.317  4.336  66.246  0.848   88        8.529

       humidity  wind_speed
0        70.168       3.725
1        80.088       8.969
2        62.783       9.650
3        89.153       8.956
4        76.499       4.017
...         ...         ...
17995    52.443       7.452
17996    85.678       4.496
17997    72.311       9.660
17998    31.880       2.642
17999    59.104       4.403

[18000 rows x 15 columns]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403