In [6]:
import pandas as pd

In [8]:
info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 23]
}
df = pd.DataFrame(info)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   23

In [10]:
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))
print(s[0])
print(s[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>