In [6]:
import pandas as pd

In [8]:
info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 23]
}
df = pd.DataFrame(info)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   23

In [11]:
#Index-Based access
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))
print(s[0])
print(s[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4

In [15]:
#Label-Based access
s = pd.Series([20, 22, 23, 24], index = ["Syed", "Maaz", "Khan", "Mohd"])
print(s)
print(s["Maaz"])
print(s["Mohd"])
print(s.index)

Syed    20
Maaz    22
Khan    23
Mohd    24
dtype: int64
22
24
Index(['Syed', 'Maaz', 'Khan', 'Mohd'], dtype='object')

In [16]:
#vectorization
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
print(s1 + s2)

# Also remember series are mutable but the size of the series is immutable.

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [32]:
#Dataframe

info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 24],
    "CGPA": [7.5, 8.5, 9.5]
}
df = pd.DataFrame(info)
print(df, type(df))
df
print(df.index)
print(df.columns)

   Name  Age  CGPA
0  Syed   20   7.5
1  Maaz   22   8.5
2  Khan   24   9.5 <class 'pandas.core.frame.DataFrame'>

   Name  Age  CGPA
0  Syed   20   7.5
1  Maaz   22   8.5
2  Khan   24   9.5