In [6]:
import pandas as pd

In [8]:
info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 23]
}
df = pd.DataFrame(info)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   23

In [11]:
#Index-Based access
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))
print(s[0])
print(s[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4

In [15]:
#Label-Based access
s = pd.Series([20, 22, 23, 24], index = ["Syed", "Maaz", "Khan", "Mohd"])
print(s)
print(s["Maaz"])
print(s["Mohd"])
print(s.index)

Syed    20
Maaz    22
Khan    23
Mohd    24
dtype: int64
22
24
Index(['Syed', 'Maaz', 'Khan', 'Mohd'], dtype='object')

In [16]:
#vectorization
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
print(s1 + s2)

# Also remember series are mutable but the size of the series is immutable.

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [33]:
#Dataframe

info = {
    "Name": ["Syed", "Maaz", "Khan"],
    "Age": [20, 22, 24],
    "CGPA": [7.5, 8.5, 9.5]
}
df = pd.DataFrame(info)
print(df, type(df))
df
print(df.index)
print(df.columns)

   Name  Age  CGPA
0  Syed   20   7.5
1  Maaz   22   8.5
2  Khan   24   9.5 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'CGPA'], dtype='object')

In [36]:
#Dataframe
df = pd.DataFrame(
    [
        ["Syed", 20],
        ["Maaz", 22],
        ["Khan", 24]
    ], columns = ["Name", "Age"] #Here we are explicitly naming the columns
)
print(df)

   Name  Age
0  Syed   20
1  Maaz   22
2  Khan   24

In [41]:
#Dataframe in numpy
import numpy as np

np_arr = np.array(
    [
        [1,2,3,4],
        [5,6,7,8]
    ]
)
df = pd.DataFrame(np_arr, columns = ["A", "B", "C", "D"])
print(df)

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

In [47]:
#Reading data from csv file
df = pd.read_csv("pandas_data.csv")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [48]:
#Reading data form json file
df = pd.read_json("pandas_data.json")
print(df, type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [61]:
#Methods in printing the file data
df.head() #prints starting 5 rows
df.head(4) #prints as customised
df.tail() #prints ending 5 rows
df.tail(3) #prints as customised
df.sample() #prints random row
df.sample(5) #prints as customised
df.info() #prints the info of file
df.shape  #prints the shape(rows and colums)
df.describe #gives the value of numerical data from the file
df.columns
df.nunique()

In [85]:
#assignment on pandas
df = pd.read_csv("pandas_assignment_data.csv")
df

In [84]:
#selecting data

#column data
df["city"]
df [
    ["city",
    "temperature"]
]

#row data
df.loc[0]  
df.loc[0:2] #start idx : end idx (inclusive) GPT
df.iloc[2]
df.iloc[0:2] #start idx : end idx (exclusive) GPT

#individual cells

df.loc[0:2, "city"]  #remember in loc we can directly pass the column name which we want to print
df.columns

df.iloc[0:3, 2]      #but in iloc we need to pass the column index we cant pass the value iloc won't take string as the value

df.at[0, "city"]     # same as loc and iloc but here we can select only one element
df.iat[0, 2]